body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
    color: #333;
}
.small {
    font-size: 12px;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    font-size: 20px;
    margin: 0;
}
a {
    color: #0074d9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.strong {
    font-weight: bold;
}
.space-top1 {
    padding: 10px 0 0 0;
}
.pad1y {
    padding: 10px 0;
}
.pad2 {
    padding: 20px;
}
.pad1 {
    padding: 10px;
}
.space-right2 {
    padding-right: 20px;
}
.center {
    text-align: center;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.fl {
    float: left;
}
@media only screen and (max-width: 640px) {
    .col3 {
        width: 100%;
        max-width: 100%;
    }
    .hide-mobile {
        display: none !important;
    }
}

.quiet {
    color: #7f7f7f;
    color: rgba(0, 0, 0, 0.5);
}
.quiet a {
    opacity: 0.7;
}

.fraction {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 10px;
    color: #555;
    background: #e8e8e8;
    padding: 4px 5px;
    border-radius: 3px;
    vertical-align: middle;
}

.coverage-summary {
    border-collapse: collapse;
    border: 1px solid #bbb;
    width: 100%;
}
.coverage-summary tr {
    border-bottom: 1px solid #bbb;
}
.coverage-summary td,
.coverage-summary th {
    padding: 5px 7px;
}
.coverage-summary td,
.coverage-summary th {
    border-right: 1px solid #bbb;
}
.coverage-summary td:last-child,
.coverage-summary th:last-child {
    border-right: none;
}
.coverage-summary th {
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
}
.coverage-summary th.pic,
.coverage-summary th.abs,
.coverage-summary td.pct,
.coverage-summary td.abs {
    text-align: right;
}
.coverage-summary td.file {
    white-space: nowrap;
}
.coverage-summary td.pic {
    min-width: 120px !important;
}
.coverage-summary .sorter {
    height: 10px;
    width: 7px;
    display: inline-block;
    margin-left: 0.5em;
    background: url(sort-arrow-sprite.png) no-repeat scroll 0 0 transparent;
}
.coverage-summary .sorted .sorter {
    background-position: 0 -20px;
}
.coverage-summary .sorted-desc .sorter {
    background-position: 0 -10px;
}
/* dark red */
.red.solid,
.low .cover-fill {
    background: #c21f39;
}
/* light red */
.low {
    background: #fce1e5;
}
/* light green */
.high {
    background: rgb(230, 245, 208);
}
/* dark green */
.high .cover-fill {
    background: rgb(77, 146, 33);
}
/* dark yellow (gold) */
.medium .cover-fill {
    background: #f9cd0b;
}
/* light yellow */
.medium {
    background: #fff4c2;
}

.coverage-summary td.empty {
    opacity: 0.5;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1;
    color: #888;
}

.cover-fill,
.cover-empty {
    display: inline-block;
    height: 4px;
}
.chart {
    line-height: 0;
}
.cover-empty {
    background: white;
}
.cover-full {
    border-right: none !important;
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.body {
    flex-grow: 1;
}
.footer {
    height: 48px;
    flex-shrink: 0;
}
.togglebutton.enabled {
    border-style: inset;
}
.expandbutton {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.1em;
    padding: 0.1em;
    width: 0.8em;
    display: inline-block;
}
.expandbutton:hover {
    text-decoration: none;
}
.filetab {
    display: inline-block;
    width: 1.1em;
}
.coverage-summary .topheading {
    border-bottom: none;
}
.coverage-summary .headercell {
    border-top: 1px solid #eee;
    text-align: right;
    font-size: 11px;
}
.coverage-summary .headercell:nth-child(3n),
.coverage-summary .headercell:nth-child(3n + 1),
.coverage-summary td:nth-child(3n + 2),
.coverage-summary td:nth-child(3n + 3) {
    border-right: 1px solid #ddd;
}
.coverage-summary tbody tr:nth-child(2n) td {
    padding: 0;
}
.coverage-summary tbody tr:nth-child(2n - 1) {
    border-bottom: none;
}
.coverage-summary td.file {
    border-bottom: 1px solid #bbb;
}
.buttongroup {
    display: inline-block;
    margin-right: 40px;
}
.buttongroup label {
    margin-right: 15px;
}
th.sortable {
    cursor: pointer;
}
